.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shellModul {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
  height: 430px;
  width: 500px;
  background-color: white;
  border: 1px solid #c4c4c4;
}

.line {
  border-bottom: 1px solid #c4c4c4;
  width: 500px;
  height: 2px;
  margin-bottom: 16px;
}

.input {
  margin-top: 10px;
  margin-bottom: 17px;
  width: 454px;
  height: 38px;
  min-height: 38px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  :focus {
    outline: 0;
    outline-offset: 0;
  }
}

.paddingLeft {
  padding-left: 16px;
}

.сancel {
  background-color: rgba(28, 28, 28, 0);
  border: none;
  cursor: pointer;
  padding-right: 21px;
}

.add {
  width: 55px;
  height: 38px;
  min-height: 38px;
  border-radius: 5px;
  background-color: #0085f9;
  color: #ffffff;
  font-weight: bold;
  border: none;
  &:hover {
    background: rgb(53, 167, 110);
  }
  cursor: pointer;
}

.сancelAndAdd {
  padding-left: 353px;
  flex-direction: row;
}
