html {
  --header-height: 80px;
  --color-grayWhite: #c4c4c4;
  --color-blue: #0085f9;
  --color-lightGreen: rgb(53, 167, 110);
  --color-white: #ffffff;
  --color-red: rgb(199, 57, 57);
  --color-gray: #6a757c;
  --color-black: rgba(28, 28, 28, 0);
  --color-lightBlue: rgb(209, 227, 233);
}
