.alignment {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  justify-content: space-around;
}

.header {
  font-weight: bold;
  border-top: 1px solid #c4c4c4;
}

.row {
  border-bottom: 1px solid #c4c4c4;
  justify-content: space-around;
  flex-direction: row;
  display: flex;
  width: 60%;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons {
  font-size: 20px;
  color: #0085f9;
  gap: 5px;
  cursor: pointer;
}

.column {
  width: 14.4%;
  max-width: 14.4%;
  padding: 13px 0;
}
