.navigationButton {
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: 700;
  box-shadow: 0 -3px var(--color-blue) inset;
  height: 38px;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: var(--color-lightGreen);
  }
}
